@import "tailwindcss";

@theme {
    --color-primary: #4628FC ; /* Indigo */
    --color-secondary:#2892FC ; /* Sky Blue */
    --color-accent:#728CFF ; /* Soft violet */
    --color-text:#000000 ; /* Black */
}
